<!-- BEGIN email -->
<html>
    <head>
        <meta charset="utf-8" /> 
    </head>
<style>
	table {
	    width: 10%;
	    border: 0;
	    font-size:1em;
	    font-family: Arial, Helvetica, sans-serif;
	}
</style>
    <body>
        
        <!--
            Init content body template
         -->
            <table style="width:752px;" >
            
                <tr>
                        <td bgcolor="#0054A6"><img src="https://www.teleorion.com/imageapi/log01.png" alt="Header" border="0" width="250"></td>
                </tr>
                
                    <tr>
                            <td>
                  
                                <!-- Body -->
                
                                    <table style="color:black; width: 752px;" cellpadding="10">
                                    
                                        {table}
                                    
                                    </table>
                                
                                  <!-- Body -->
                            </td>
                    </tr>
                    <tr>
                        <td  style="height: 40px;">
                        		<a href="https://www.teleorion.com/login" class="nonblock" style="color: black;"> Haga click aqui para Ingresar</a>
                	</tr>
                    <tr>
                        <td bgcolor="#0054A6" style="color:white; height: 40px;">
                        		Teléfono: <a href="callto:18777641460" class="nonblock" style="color: white;">1-877-764-1460</a>  I  Email:  <a href="mailto:info@teleorion.com" style="color: white;">info@teleorion.com</a> I  <a href="http://www.teleorion.com" style="color: white;">www.teleorion.com</a>
                	</tr>
              </table>
    </body>
</html>
<!-- END email -->